.form {
  width: 300px;
  margin: 30px auto;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}

.form input {
  margin: 3px 0;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: transparent;
}

.form button {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #ccc;
  font-size: 20px;
}
